<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Welcome to the Homepage </title>

    <link rel="stylesheet" href="/index.css">

</head>

<body>
    <div class="main">

        <p class="title1">Log In</p>

        <form action="index.ejs" method="post">
            <input class="uname" type="text" name="uname" placeholder="enter username" required> <br>
            <input class="pass" type="password" name="pass" placeholder="enter password" required> <br>
            <button class="button1">Log In</button> <br>

            <p><a href="#">Forgot Password?</p>

            <a href="/registerPage.ejs"> Sign Up Now </a>
        </form>


    </div>

</body>

</html>