<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Register Today! </title>

    <link rel="stylesheet" href="/index.css">

</head>

<body>
    <div class="main">

        <p class="title2">Sign Up</p>

        <form action="registerPage.ejs" method="POST">

            <input class="username" type="text" name="username" placeholder="enter username" required> <br>
            <input class="password" type="password" name="password" placeholder="enter password" required> <br>
            <button class="button2">Sign Up Now</button> <br>

            <p class="account">Already Have An Account?<a href="/index.ejs" class="login">Log In </a></p>


        </form>

    </div>

</body>

</html>
