h1 {
    color:white;
}

body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;

    background-color: #2B3E4F;
    
    display: grid;
    justify-items: center;
    align-items: center;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
}

.title {
    padding-top: 20px;
    padding-left: 120px;
    color: black;
    background: #C8102E;
    border-bottom: #C8102E solid 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
}

.uname {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Times New Roman', Times, serif;
    }

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Times New Roman', Times, serif;
}

.login2 {
    cursor: pointer;
    color: black;
    background: #C8102E;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    font-size: 13px;
  }

  .signup2 {
    cursor: pointer;
    color: black;
    background: #C8102E;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    font-size: 13px;
  }

  .forgot {
    color: black;
    padding-top: 15px;
    
}

.account {
    padding-left: 10px;
    font-weight: bold;
}

a {
    color: black;
    padding-left: 10px;
    text-decoration: none;
}