#content {
  position: relative;
}
#content img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 50px;
}

.header {
  background-color: #2b3e4f;
  color: white;
  font-size: xx-large;
  margin: 50px;
}

.nonheader {
  margin: 50px;
}
